app-main/node_modules
app-main/bower_components
/**/*.iml
.idea
/**/.DS_Store
.DS_Store
ethereum/logs
ethereum/database
ethereum/privateDB
/**/target
logs/
privateDB/
ethereum/src/main/resources/user.conf
datafile.mv.db
datafile.trace.db
app-main/npm-debug.log
/predictions/time_series.py
