<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My <em>Profile</em></h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>My Details</strong>
                    </div>
                    <div class="panel-body">
                        <p>Store name: NTUC
                        </p>
                        <p>Location: Tampines Mall
                        </p>
                        <p>Date joined: 5 December 2016
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
