<style>
    #overlay {
        background: rgba(255,255,255,0.8);
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 25%;
    }
</style>
<div ng-hide="reloaded" id="overlay">
    <img src="loader.gif" alt="Loading" /><br/>
    <h1 class="page-header">Loading...</h1>
</div>
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-clock-o fa-fw"></i><em>In Progress</em></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="alert alert-success">
          Current Ether Balance: <em>{{ balance }}</em>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Requests Made</strong>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th ng-click="sortData('sell')">
                            Buy/Sell <div ng-class="getSortClass('sell')"></div>
                          </th>
                          <th ng-click="sortData('item')">
                            Product <div ng-class="getSortClass('item')"></div>
                          </th>
                          <th ng-click="sortData('quantity')">
                            Quantity <div ng-class="getSortClass('quantity')"></div>
                          </th>
                          <th ng-click="sortData('expiry')">
                            Transaction Date <div ng-class="getSortClass('expiry')"></div>
                          </th>
                          <th ng-click="sortData('price')">
                            Price <div ng-class="getSortClass('price')"></div>
                          </th>
                          <th ng-click="sortData('pending')">
                              Included <div ng-class="getSortClass('pending')"></div>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="x in offers | filter:searchText | orderBy:sortColumn:reverseSort" ng-style="getBackground(x.pending)">
                          <td ng-if="x.sell">SELL</td>
                          <td ng-if="!x.sell">BUY</td>
                          <td>{{ x.item }}</td>
                          <td>{{ x.quantity }}</td>
                          <td>{{ x.expiry | date }}</td>
                          <td>{{ x.price | currency }}</td>
                          <td ng-if="x.pending">NO</td>
                          <td ng-if="!x.pending">YES</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Accepted offers</strong>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th ng-click="sortData('sell')">
                            Buy/Sell <div ng-class="getSortClass('sell')"></div>
                          </th>
                          <th ng-click="sortData('sender.name')">
                              Store Name <div ng-class="getSortClass('sender.name')"></div>
                          </th>
                          <th ng-click="sortData('item')">
                            Product <div ng-class="getSortClass('item')"></div>
                          </th>
                          <th ng-click="sortData('quantity')">
                            Quantity <div ng-class="getSortClass('quantity')"></div>
                          </th>
                          <th ng-click="sortData('txDate')">
                            Transaction Date <div ng-class="getSortClass('txDate')"></div>
                          </th>
                          <th ng-click="sortData('expiry')">
                              Transaction Date <div ng-class="getSortClass('expiry')"></div>
                          </th>
                          <th ng-click="sortData('price')">
                            Price <div ng-class="getSortClass('price')"></div>
                          </th>
                          <th>Transport Cost</th>
                          <th>Total Cost</th>
                          <th ng-click="sortData('pending')">
                              Included <div ng-class="getSortClass('pending')"></div>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="x in accepts track by $index | filter:searchText | orderBy:sortColumn:reverseSort" ng-style="getBackground(x.pending)">
                          <td ng-if="x.sell">SELL</td>
                          <td ng-if="!x.sell">BUY</td>
                          <td>{{ x.sender.name }}</td>
                          <td>{{ x.item }}</td>
                          <td>{{ x.quantity }}</td>
                          <td>{{ x.txDate | date }}</td>
                          <td>{{ x.expiry | date }}</td>
                          <td>{{ x.price | currency }}</td>
                          <td>{{ x.transportCost | currency }}</td>
                          <td>{{ x.price + x.transportCost | currency }}</td>
                          <td ng-if="x.pending">NO</td>
                          <td ng-if="!x.pending">YES</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Pending Confirmation</strong>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th ng-click="sortData('sell')">
                            Buy/Sell <div ng-class="getSortClass('sell')"></div>
                          </th>
                          <th ng-click="sortData('accepter.name')">
                              Store Name <div ng-class="getSortClass('accepter.name')"></div>
                          </th>
                          <th ng-click="sortData('item')">
                            Product <div ng-class="getSortClass('item')"></div>
                          </th>
                          <th ng-click="sortData('quantity')">
                            Quantity <div ng-class="getSortClass('quantity')"></div>
                          </th>
                          <th ng-click="sortData('expiry')">
                            Transaction Date <div ng-class="getSortClass('expiry')"></div>
                          </th>
                          <th ng-click="sortData('price')">
                            Price <div ng-class="getSortClass('price')"></div>
                          </th>
                          <th>Transport Cost</th>
                          <th>Total Cost</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="x in agrees | filter:searchText | orderBy:sortColumn:reverseSort" ng-style="getBackground(x.agreeing)">
                          <td ng-if="x.sell">SELL</td>
                          <td ng-if="!x.sell">BUY</td>
                          <td>{{ x.accepter.name }}</td>
                          <td>{{ x.item }}</td>
                          <td>{{ x.quantity }}</td>
                          <td>{{ x.expiry | date }}</td>
                          <td>{{ x.price | currency }}</td>
                          <td>{{ x.transportCost | currency }}</td>
                          <td>{{ x.price + x.transportCost | currency }}</td>
                          <td ng-if="!x.agreeing"><button ng-click="agree(x.uuid)" type="button" class="btn btn-success btn-xs">Agree</button></td>
                          <td ng-if="x.agreeing">Waiting to be included</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
</div>
