<style>
    #overlay {
        background: rgba(255,255,255,0.8);
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 25%;
    }
</style>
<div ng-hide="reloaded" id="overlay">
    <img src="loader.gif" alt="Loading" /><br/>
    <h1 class="page-header">Loading...</h1>
</div>
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-clock-o fa-fw"></i><em><strong>Sales</strong> (In progress)</em></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="alert alert-success">
        Current Balance: <em>{{ balance| currency }}</em>
    </div>

    <!-- Table for Offers Made -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Offers Made</strong>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped" width="100%">
                  <thead>
                      <tr>
                          <th ng-click="sortData('item')" class="col-md-4">
                            Product <div ng-class="getSortClass('item')"></div>
                          </th>
                          <th ng-click="sortData('quantity')" class="col-md-2">
                            Quantity <div ng-class="getSortClass('quantity')"></div>
                          </th>
                          <th ng-click="sortData('price')" class="col-md-2">
                            Price <div ng-class="getSortClass('price')"></div>
                          </th>
                          <th ng-click="sortData('expiry')" class="col-md-2">
                              Disposal On <div ng-class="getSortClass('expiry')"></div>
                          </th>
                          <th class="col-md-2">
                              Details
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="x in offers | filter:searchText | orderBy:sortColumn:reverseSort" ng-if="x.sell" ng-style="getBackground(x.pending)">
                          <td>{{ x.item }}</td>
                          <td>{{ x.quantity }}</td>
                          <td>{{ (x.price) | currency }}</td>
                          <td>{{ x.expiry | date }}</td>
                          <td><button type="button" class="btn btn-success btn-xs" ng-if="x.agreeing" data-toggle="modal" data-target="#ViewRequestModal" ng-click="viewTx(x)">View Requests</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

    <!-- Table for Pending Confirmation -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Pending Confirmation</strong>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped" width="100%">
                  <thead>
                      <tr>
                          <th ng-click="sortData('item')" class="col-md-4">
                              Product <div ng-class="getSortClass('item')"></div>
                          </th>
                          <th ng-click="sortData('quantity')" class="col-md-2">
                              Quantity <div ng-class="getSortClass('quantity')"></div>
                          </th>
                          <th ng-click="sortData('price')" class="col-md-2">
                              Price <div ng-class="getSortClass('price')"></div>
                          </th>
                          <th ng-click="sortData('txDate')" class="col-md-2">
                              Selling On <div ng-class="getSortClass('txDate')"></div>
                          </th>
                          <th class="col-md-2">
                              Details
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="x in accepts | filter:searchText | orderBy:sortColumn:reverseSort" ng-if="!x.sell" ng-style="getBackground(x.pending)">
                          <td>{{ x.item }}</td>
                          <td>{{ x.quantity }}</td>
                          <td>{{ (x.price) | currency }}</td>
                          <td>{{ x.txDate | date }}</td>
                          <td><button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#ViewDetailsModal1" ng-click="viewTx(x)">View Details</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

    <!-- Modal for View Requests -->
    <div class="modal fade" id="ViewRequestModal" tabindex="-1" role="dialog" aria-labelledby="ViewRequestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">View Requests for {{ txView.item }}</h4>
                </div>
                <div class="modal-body">
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th>Store Name</th>
                          <th>Location</th>
                          <th>Transport Date</th>
                          <th>Transport Cost</th>
                          <th>Total Cost</th>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>{{ txView.accepter.name }}</td>
                          <td>{{ txView.quantity }}</td>
                          <td>Transport Date</td>
                          <td>{{ txView.transportCost | currency }}</td>
                          <td>{{ txView.price + txView.transportCost | currency }}</td>
                          <td><button ng-click="agree(txView.uuid)" type="button" class="btn btn-success btn-txViews">Sell</button></td>
                      </tr>
                      </tbody>
                  </table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal for View Details -->
    <div class="modal fade" id="ViewDetailsModal1" tabindex="-1" role="dialog" aria-labelledby="ViewDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">View Details for {{ txView.item }}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Store Name</th>
                            <th>Location</th>
                            <th>Transport Date</th>
                            <th>Transport Cost</th>
                            <th>Total Cost</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ txView.sender.name }}</td>
                            <td>----</td>
                            <td>{{ txView.date }}</td>
                            <td>{{ txView.transportPrice | currency }}</td>
                            <td>{{ txView.price * txView.quantity + txView.transportCost | currency }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
