<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa-group fa-fw"></i><em><strong>Donations</strong></em></h1>
    </div>
</div>
<div uib-alert ng-if="txAlert" class="alert-success" close="closeTxAlert()" dismiss-on-timeout="10000">New Donation Created for {{txDetails}}</div>

<div class="alert alert-info">
    Current Balance: <em>{{ balance| currency }}</em>
</div>
<!-- /.panel-heading -->
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Donations Offered</strong>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped" width="100%">
                <thead>
                <tr>
                    <th ng-click="sortData('item')" class="col-md-4">
                        Product <div ng-class="getSortClass('item')"></div>
                    </th>
                    <th ng-click="sortData('quantity')" class="col-md-2">
                        Quantity <div ng-class="getSortClass('quantity')"></div>
                    </th>
                    <th ng-click="sortData('expiry')" class="col-md-2">
                        Expires On <div ng-class="getSortClass('expiry')"></div>
                    </th>
                    <th class="col-md-2">
                        Accepted By
                    </th>
                    <th class="col-md-2">
                        Pickup Date
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in donations | filter:searchText | orderBy:sortColumn:reverseSort" ng-if="x.sell" ng-style="getBackground(x.pending)">
                    <td>{{ x.item }}</td>
                    <td>{{ x.quantity }}</td>
                    <td>{{ x.expiry | date }}</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>

